@import '~bootstrap/scss/bootstrap';

.container {
  height: 100vh;
  width: 100vw;
}

.top {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 15vh;
  }

  .login {
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    margin: 0px auto 2em;
    padding: 1em;
  }

  .newuse {
    height: 30px;
    width: 175px;
  }

  .signup {
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin: 3px auto 2em;
    padding: 1em;
  }
}


.startMsg {
  margin-bottom: 2px;
  font-size: 18px;
}


.game-hist {
  display: flex;
  justify-content: space-between;
}

// .game-history article {
//
// }


.main {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pl1, .pl2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  h4{
    font-size: 2.5vh;
  }

  h3{
    font-size: 2vh;
  }

  .pl1-show, .pl2-show {
    text-align: center;
    min-width: 10vh;
    max-height: 15vh;
    border: 1px solid black;
    font-size: 3vh;
  }

  button {
    width: 10vh;
    margin: 2px;
  }
}

.main .disbox {
  font-size: 4vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .play-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}

.main .play-again button {
  min-width: calc(60vh / 3);
  font-size: 3vh;
}


.gamebox {
  max-height: 64vh;
  min-width: 60vh;
  border: 1px solid black;
  padding: 2vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.gameboard {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  height: calc(60vh / 3);
  width: calc(100% / 3);
  user-select: none;
  font-size: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  &:nth-child(3n) {
  border-right: 0px;
}
&:nth-last-child(-1n + 3) {
 border-bottom: 0px;
}
&:hover {
   background-color: LightSteelBlue;
   cursor: pointer;
 }
}
