@import '~bootstrap/scss/bootstrap';


.gameboard {
  border: 3px solid black;
  height: 100px;
  width: 100px;

}

.gamebox {
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 306px;
  width: 306px;
}
